.navbar{
    height: 10vh;
    padding-left: 150px;
    padding-right: 150px;
}
.main{
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 50px;
}
.formulaire{
    background-color: darkgrey;
    height: 35vh;
}
.role{
    background-color: darkgrey;
    border-radius: 5px;
}
.php{
    background-color: darkgrey;
}
.texte{
    background-color: darkgrey;
}
.boutond{
    background-color: darkgrey;
    height: 7vh;
    border: none;
}