.navbar{
    height: 10vh;
    padding-left: 150px;
    padding-right: 150px;
}
.main{
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 50px;
}
.formulaire{
    background-color: darkgrey;
    height: 30vh;
}
.role{
    background-color: darkgrey;
    border-radius: 5px;
}